@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*{
    margin: 0 auto;
    padding: 0 auto;
}
/* First mobile Layout */
body{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk';
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 375px;
}

.container .result {
    width: 100%;
    height: 326px;
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    border-radius: 0px 0px 32px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #CAC9FF;
    padding-top: 25px;
}
.container .result .circle {
    position: absolute;
    left: 31.47%;
    right: 31.2%;
    top: 8.78%;
    bottom: 73.92%;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.container .result .circle .herotext{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
    color: #FFF;
    padding-top: 10px;
}
.container .result .circle .nonherotext{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #CAC9FF;
    mix-blend-mode: normal;
    opacity: 0.52;
}

.container .result .resulttext {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 188px;
    margin-bottom: 8px;
}
.container .result .scoredtext{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    padding: 0px 57px 0px 58px;
    color: #CAC9FF;
}
.container .reitingtext{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #303B59;
    padding: 24px 263px 24px 0;
}

.container .reaction {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
    border-radius: 12px;
    width: 315px;
    height: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.container .memory{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
    border-radius: 12px;
    width: 315px;
    height: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.container .verbal {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
    border-radius: 12px;
    width: 315px;
    height: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.container .visual {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;
    border-radius: 12px;
    width: 315px;
    height: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}
button {
    background: #303B59;
    border-radius: 128px;
    width: 315px;
    height: 56px;
    color: white;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }